:root {
  /* Colors page */
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;

  --main-text-color: #757575;
  --title-text-color: #212121;

  --white-text-color: #ffffff;
  --secondary-white-text-color: rgba(255, 255, 255, 0.6);

  --primary-logo-color: #000000;
  --secondary-logo-color: #2196f3;

  --primary-link-color: #212121;
  --secondary-link-color: #757575;
  --accent-link-color: #2196f3;

  --white-link-color: #ffffff;
  --footer-link-hover-color: rgba(255, 255, 255, 0.6);

  --accent-color: #2196f3;

  /* Fonts page */
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--primary-bg-color);
  color: var(--main-text-color);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.title {
  color: var(--title-text-color);
}

/* Button */
.button {
  padding: 10px 20px;
  border-radius: 4px;
  /* min-width: 200px; */

  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;

  background-color: var(--accent-color);
  color: var(--white-link-color);
}

.button.primary {
  background-color: transparent;
}

.button.secondary {
  background-color: var(--secondary-bg-color);
  color: var(--title-text-color);
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--accent-color);
  color: var(--white-link-color);
}

.cta-button {
  display: inline-block;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 1170px;
  outline: 2px solid tomato;
}

/* Header */
.header {
  background-color: aqua;
}
/* Logo */
.logo {
  font-family: var(--second-family);
  color: var(--primary-logo-color);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.logo-highlight,
.logo-normal {
  display: inline-block;
  text-transform: capitalize;
}

.logo-highlight {
  color: var(--secondary-logo-color);
}

.logo-normal {
  font-weight: normal;
}

/* Navigation list */
.nav-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--primary-link-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-link-color);
}

.nav-link.current {
  color: var(--accent-link-color);
}

/* Contacts list */
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--secondary-link-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-link-color);
}

/* Footer */
.footer {
  background-color: var(--footer-bg-color);
}
.footer-logo {
  color: var(--white-text-color);
}
.address-link {
  color: var(--white-link-color);
}

.footer-contacts .contacts-link {
  color: var(--secondary-white-text-color);
}
