/* Hero */
.hero {
  background-color: var(--footer-bg-color);
  outline: 2px solid red;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* text-align: center; */
  color: var(--white-text-color);

  margin-top: 0;
  margin-bottom: 30px;
}

/* Our principles */
.principles-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.principles-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  margin: 0;
}

/* What we do */
.services-title {
  margin-top: 0;
  margin-bottom: 50px;
}

/* Our Team */
.team-title {
  margin-top: 0;
  margin-bottom: 50px;
}

.team-img {
    margin-bottom: 30px;
}

.card-title {
    font-weight: 500;
font-size: 16px;
letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 10px;
}

.card-description {
    margin: 0;
}

