/* hero */
.hero {
    background-color: var(--dark-page-color);
}

.hero .title {
    color: var(--main-light-text-color);
}

/* .hero .button {
    background-color: var(--accent-color);
    color: var(--main-light-text-color);
} */

/* qualities*/
.qualities .title {
    color: var(--secondary-dark-text-color);
}

/* services */
.services .title {
    color: var(--secondary-dark-text-color);
}

/* team */
.team {
    background-color: var(--secondary-page-color);
}
.team .title {
    color: var(--secondary-dark-text-color);
}


