

/* основной черный цвет текста  #212121*/
/* вторичный черный цвет текста  #757575*/
/* основной белый цвет текста  #FFFFFF*/
/* вторичный белый цвет текста  rgba(255, 255, 255, 0.60)*/
/* акцент цвет  #2196F3*/

:root {
    --main-page-color: #FFFFFF;
    --secondary-page-color:#F5F4FA;
    --dark-page-color: #2F303A;
    --main-dark-text-color:  #757575;
    --secondary-dark-text-color: #212121;
    --main-light-text-color: #FFFFFF;
    --secondary-light-text-color: rgba(255, 255, 255, 0.60);
    --accent-color: #2196F3;
    --logo-color: #000000;
}

body {
  background-color: var(--main-page-color);
  color: var(--main-dark-text-color);
}

.list {
  list-style: none;
}

.logo {
    color: var(--logo-color);
}

.logo span {
    color: var(--accent-color);
}

/* Site nav */

.nav .link {
  color: var(--secondary-dark-text-color);
}

.nav .link:hover,
.nav .link:focus {
  color: var(--accent-color);
}

.contacts .link {
    color: var(--main-dark-text-color);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
    background-color: var(--dark-page-color);
}

.hero .title {
    color: var(--main-light-text-color);
}

.hero .button {
    background-color: var(--accent-color);
    color: var(--main-light-text-color);
}

/* qualities*/
.qualities .title {
    color: var(--secondary-dark-text-color);
}

/* services */
.services .title {
    color: var(--secondary-dark-text-color);
}

/* team */
.team .title {
    color: var(--secondary-dark-text-color);
}

/* footer */
.footer {
    background-color: var(--dark-page-color);
}
.contact-info .link {
color: var(--secondary-light-text-color);
}
