:root {
  --main-page-color: #ffffff;
  --secondary-page-color: #f5f4fa;
  --dark-page-color: #2f303a;
  --main-dark-text-color: #757575;
  --secondary-dark-text-color: #212121;
  --main-light-text-color: #ffffff;
  --secondary-light-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --logo-color: #000000;

  --portfolio-set-gap: 30px;
}

body {
  background-color: var(--main-page-color);
  color: var(--main-dark-text-color);
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*PAGE-LOGO */
.page-logo {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;

  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: normal;

  /* background-color: blue; */
}

.page-logo .accent-logo {
  color: var(--accent-color);
}

/* PAGE LINKS */
.link {
  color: var(--secondary-dark-text-color);
  font-family: inherit;
  text-decoration: none;

  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}
.link.current {
  color: var(--accent-color);
}

.contacts-list .link {
  color: var(--main-dark-text-color);
}

.contacts-list .link:hover,
.contacts-list .link:focus {
  color: var(--accent-color);
}

/* BUTTON */
.button {
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
}

/* SECTION */
.section-title {
  margin-bottom: 50px;
  color: var(--secondary-dark-text-color);

  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;

  /* background-color: aqua; */
}

/* CONTAINER */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;

  outline: 2px solid tomato;
}

/* HEADER */
.header {
  /* background-color: yellowgreen; */
}

.header .container {
  display: flex;
  align-items: center;
}

.header .nav {
  display: flex;
  align-items: center;
}

/* site-nav */
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item {
  /* background-color: tomato; */

  /* outline: 1px solid red; */
}

/* .site-nav .item:not(:last-child) {
    margin-right: 50px;
} */
.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* contacts */
.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-list .item {
  /* background-color: yellow; */
}

.contacts-list .item:not(:last-child) {
  margin-right: 40px;
}

.contacts-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* HERO */
.hero {
  background-color: var(--dark-page-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero .section-title {
  color: var(--main-light-text-color);
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36; /* 136.364% */
  letter-spacing: 2.64px;
}

.hero .button {
  background-color: var(--accent-color);
  color: var(--main-light-text-color);
  padding: 10px 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  line-height: 1.88; /* 187.5% */
  letter-spacing: 0.96px;
}

/* QUALITES */
.qualities-list .title {
  color: var(--secondary-dark-text-color);
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;

  /* background-color: aquamarine; */
}

.qualities-list .description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7; /* 171.429% */
  letter-spacing: 0.42px;

  background-color: pink;
}

/* OUR TEAM */
/* .team-list > .item {
    text-align: center;
} */
.team-list .title {
  margin-bottom: 10px;
}

.team-list .title {
  color: var(--secondary-dark-text-color);

  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.team-list .description {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}

/* FOOTER */
.footer {
  background-color: var(--dark-page-color);
}

.footer .page-logo {
  color: var(--main-light-text-color);
  margin-bottom: 28px;
}

.contact-info .link {
  color: var(--secondary-light-text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7; /* 171.429% */
  letter-spacing: 0.03em;
}

.contact-info .address {
  color: var(--main-light-text-color);
}

/* Qualities */
.qualities .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.qualities-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
}

.qualities-list > .item {
  flex-basis: calc((100% - 3 * 30px) / 4);
  outline: 2px solid red;
}


/* Services */

.services-list {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 94px;
  gap: 30px;
}

.services-list > .item {
  flex-basis: calc((100% - 2 * 30px) / 3);
}

/* PORTFOLIO */
.filter-list {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Portfolio */
.portfolio-set {
  display: flex;
  flex-wrap: wrap;

  margin-top: -30px;
  margin-left: -30px;
  /* background-color: rgb(138, 220, 155); */
}

.portfolio-set > .item {
  flex-basis: calc(100% / 3 - var(--portfolio-set-gap));
  margin-top: var(--portfolio-set-gap);
  margin-left: var(--portfolio-set-gap);
  outline: 2px solid  rgb(255, 148, 127);

}

.portfolio-set .title {
  color: var(--secondary-dark-text-color);

  font-size: 18px;
  font-weight: 700;
  line-height: 2; /* 200% */
  letter-spacing: 0.06em;
}
.portfolio-set .text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.87; /* 187.5% */
  letter-spacing: 0.03em;
}
